[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/osdialog"]
	path = thirdparty/osdialog
	url = https://github.com/AndrewBelt/osdialog.git
[submodule "thirdparty/filesystem"]
	path = thirdparty/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
